# Default ignored files
.idea
client/client
server/server
*/shelf/
*/workspace.xml
# Editor-based HTTP Client requests
*/httpRequests/
# Datasource local storage ignored files
*/dataSources/
*/dataSources.local.xml